{
    "extends": "eslint:recommended",
    "env": {
        "browser": true
    },
    "globals": {
        "jQuery": true,
        "Slick": true
    },
    "rules": {
        "no-prototype-builtins": [0]
    }
}