.slick-header {
    width: 100%;
    background: url(images/header-columns-bg.gif) repeat-x center bottom;
    border-bottom: 1px solid silver;
    overflow: hidden;
}

.slick-header-columns {
    width: 999999px;
    position: relative;
    white-space: nowrap;
    cursor: default;
    overflow: hidden;
}

.slick-header-column {
    position: relative;
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    height: 16px;
    line-height: 16px;
    background: url(images/header-columns-bg.gif) repeat-x center bottom;
    margin: 0;
    padding: 4px;
    border-right: 1px solid silver;
    float: left;
}

.slick-header-column-sorted {
    font-style: italic;
}

.slick-header-column:hover, .slick-header-column-active {
    background: white url(images/header-columns-over-bg.gif) repeat-x center bottom;
}

.slick-sort-indicator {
    display: inline-block;
    width: 8px;
    height: 5px;
    margin-left: 4px;
}

.slick-sort-indicator-desc {
    background: url(images/sort-desc.gif);
}

.slick-sort-indicator-asc {
    background: url(images/sort-asc.gif);
}

.slick-resizable-handle {
    position: absolute;
    font-size: 0.1px;
    display: block;
    cursor: e-resize;
    width: 4px;
    right: -2px;
    top: 0;
    height: 100%;
}

.slick-resizable-handle:hover {
    background: gray;
}

.slick-sortable-placeholder {
    background: silver;
}


.grid-canvas {
	position: relative;
	outline: 0;
}

.slick-row {
	position: absolute;
	background: white;
}

.slick-row[row$="1"], .slick-row[row$="3"], .slick-row[row$="5"], .slick-row[row$="7"],	.slick-row[row$="9"] {
	background: #fafafa;
}

.slick-row.loading {
	opacity: 0.5;
	filter: alpha(opacity=50);
}

.slick-row:hover {
    background: url("images/row-over-bg.gif") repeat-x;

    z-index: 5;
}

.slick-row.selected {
	z-index: 10;
	background: #DFE8F6;
}

.slick-cell.editable {
	z-index: 11;
}

.slick-cell {
	float: left;

    border: 1px solid transparent;
    border-right: 1px dotted silver;
    border-bottom-color: silver;

    height: 19px;
	
	overflow: hidden;
    text-overflow: ellipsis;	
	white-space: nowrap;
	vertical-align: middle;
	line-height: 19px;
	z-index: 1;
    padding: 1px 2px 2px 1px;

    white-space: nowrap;
}

.slick-cell.editable {
	overflow: visible;
}

.slick-cell.selected {
	border-color: gray;
	border-style: solid;
}

.slick-cell.editable {
	background: white;
	border-color: black;
	border-style: solid;
}

.slick-cell.invalid {
	border-color: red;
}

.slick-reorder-proxy {
	display: inline-block;
	background: blue;
	opacity: 0.15;
	filter: alpha(opacity=15);
	cursor: move;
}

.slick-reorder-guide {
	display: inline-block;
	height: 2px;
	background: blue;
	opacity: 0.7;
	filter: alpha(opacity=70);
}