.slick-pager 
{
	width: 100%;
	height: 26px;
	border: 1px solid gray;
	border-top: 0px;
	background: silver;
	vertical-align: middle;
}

.slick-pager .slick-pager-status
{
	display: inline-block;
	padding: 4px;
}

.slick-pager .ui-icon
{
	display: inline-block;
	margin: 2px;
}

.slick-pager .slick-pager-nav
{
	display: inline-block;
	float: left;
	padding: 2px;
}

.slick-pager .slick-pager-settings
{
	display: block;
	float: right;
	padding: 2px;
}

.slick-pager .slick-pager-settings *
{
	vertical-align: middle;
}

.slick-pager .slick-pager-settings a
{
	padding: 2px;	
	text-decoration: underline;
	cursor: pointer;
}
